.word-card-container {
  height: 150px;
  width: 282px;
  background-color: #e8ebf5;
  cursor: pointer;
  margin: 5px auto;
  position: relative;
  border-radius: 15px;
  border: 2px solid #7b87ae;
}

.main-word {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 0 5px;
}

.top-row {
  display: table;
}

.bookmark-icon {
  padding: 5px 5px 0 0;
  display: table-cell;
  right: 0;
  position: absolute;
  color: #7b87ae;
}